@import './base/null.scss';
//! <Подключение шрифтов>
// &display=swap
// @import url('');
// @import './base/fonts.scss';
//! </Подключение шрифтов>

//! <Иконочные шрифты>
// @import './fonts/icons.scss';
//! </Иконочные шрифты>

//! <Переменные>
@import './base/variables.scss';
//! </Переменные>

//! <Обнуление, сетка, параметры>
body {
    color: #000;
    font-size: 14px;
    font-family: $fontFamily;
    &._lock{
        overflow: hidden;
    }
}
//! </Обнуление, сетка, параметры>

//! <Основная сетка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 10px;
    @media (max-width: $md1) {
    }
    @media (max-width: $md2) {
    }
    @media (max-width: $md3) {
    }
}
.page{
    flex: 1 1 auto;
}
//! </Основная сетка>

//! <Подключение блоков>
// @import './base/ui.scss';
@import './blocks/header.scss';
@import './blocks/main.scss';
@import './blocks/footer.scss';
//! </Подключение блоков>